<% provide(:title, "Contact") %>
<h1>Contact</h1>
<title><%= yield(:title) %>  | Ruby on Rails Emaans App</title>
<p>
  Contact the Ruby on Rails Developer about the Emaan app at the
  <a href="">contact page</a>.
</p>
