<% provide(:title, "Home") %>
<html>
<title><%= yield(:title) %>  | Ruby on Rails Emaans App</title>
<div class="center jumbotron">
  <h1>Welcome to the Emaans App</h1>

  <h2>
    This is the home page for the Ruby on Rails
    Emaans application.
  </h2>

  <%= link_to "Sign up now!", signup_path , class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>i
</html>
